body {
    margin: 0px;
    padding: 0px;
    background-color: #5c5c5c;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: #e2e2e2;
    text-decoration: none;
}

header {
    background-color: #2e2e2e;
    padding: 15px;
    text-align: center;
    font-size: 3rem;
}

.centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkButton {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #2e2e2e;
    font-size: 1.25rem;
    text-align: center;
}

.mainContent {
    display: inline;
}

.score {
    font-size: 2.75rem;
    padding: 0.25rem;
    margin: 0rem;
    border-top: 0.45rem solid #2e2e2e;
    border-bottom: 0.45rem solid #2e2e2e;
    border-radius: 2rem;
}

#homepageMenu {
    margin-top: 15%;
}

#svgContainer {
    height: calc(100vh - 40px - 3em );
}

/*#scoreDisplay {
    border-left: 0.45rem solid #2e2e2e;
    border-right: 0.45rem solid #2e2e2e;
    border-radius: 2rem;
}*/

#r {
    color: #ff0000;
}

#g {
    color: #00ff00;
}

#b {
    color: #0000ff;
}